{
  "nsx-development": {
    "host": "ecloud.tim.rnd.ukfast",
    "version": "v2",
    "dev_region_id": "reg-aaaaaaaa",
    "dev_availability_zone_id": "az-aaaaaaaa",
    "dev_vpc_id": "vpc-aaaaaaaa"
  }
}
