{
  "nsx-development": {
    "host": "ecloud.CHANGEME.rnd.ukfast",
    "version": "v2",
    "dev_reseller_id_customer": "7052-1",
    "dev_reseller_id_admin": "0-0",
    "dev_region_id": "reg-aaaaaaaa",
    "dev_availability_zone_id": "az-aaaaaaaa",
    "dev_vpc_id": "vpc-aaaaaaaa",
    "dev_router_id": "rtr-aaaaaaaa",
    "dev_credentials_kingpin_id": "cred-kingpin",
    "dev_credentials_nsx_id": "cred-nsx",
    "dev_firewall_policy_id": "fwp-aaaaaaaa",
    "dev_firewall_rule_id": "fwr-aaaaaaaa",
    "dev_instance_id": "i-aaaaaaaa",
    "dev_nic_id": "nic-aaaaaaaa",
    "dev_network_id": "net-aaaaaaaa",
    "dev_host_id": "h-aaaaaaaa",
    "dev_host_group_id": "hg-aaaaaaaa",
    "dev_host_spec_id": "hs-aaaaaaaa",
    "dev_image_id": "img-aaaaaaaa",
    "dev_windows_image_id": "img-4acdc7c0",
    "nsx_username": "COPY FROM ENV NSX_USERNAME",
    "nsx_password": "COPY FROM ENV NSX_PASSWORD",
    "kingpin_auth": "base-64-encode-string",
    "dev_load_balancer_spec_id": "lbs-aaaaaaaa",
    "dev_software_id": "soft-aaaaaaaa",
    "dev_resource_tier_id": "rt-aaaaaaaa",
    "dev_resource_tier_host_group_id": "hg-99f9b758"
}
