/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/logs
composer.phar
tests/HTTP/V2/http-client.env.json
/http-client.env.json
.run/
_ide_helper.php