.test_services:
  services:
    - name: registry.devops.ukfast.co.uk/ukfast/team-projects/rnd/db-schema/mysql.ukfast.net:latest
      alias: mysql-ukfast-net

include:
  - project: 'ukfast/api.ukfast/gitlab-ci'
    ref: paratest-support
    file: '/templates/main.yml'
    