version: '3'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    image: apio-ecloud-dev
    environment:
      QUEUE_CONNECTION: redis
      REDIS_HOST: redis
      REDIS_PORT: "6379"
      REDIS_DB: "0"
      REDIS_PASSWORD: ""
    volumes:
      - ./:/var/www/html
    depends_on:
      - redis
  queue:
    build:
      context: .
      dockerfile: Dockerfile.dev
    deploy:
      mode: replicated
      replicas: 5
    image: apio-ecloud-dev
    command: queue
    environment:
      QUEUE_CONNECTION: redis
      REDIS_HOST: redis
      REDIS_PORT: "6379"
      REDIS_DB: "0"
      REDIS_PASSWORD: ""
    volumes:
      - ./:/var/www/html
    depends_on:
      - redis
  scheduler:
    build:
      context: .
      dockerfile: Dockerfile.dev
    image: apio-ecloud-dev
    command: scheduler
    environment:
      QUEUE_CONNECTION: redis
      REDIS_HOST: redis
      REDIS_PORT: "6379"
      REDIS_DB: "0"
      REDIS_PASSWORD: ""
    volumes:
      - ./:/var/www/html
    depends_on:
      - redis
  redis:
    image: redis:latest
  web:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./.docker/compose/ssl:/etc/nginx/ssl
      - ./.docker/compose/proxy.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
