---

openapi: '3.0.0'
info:
  title: eCloud API
  version: '2.0.0'

servers:
  - url: https://api.ukfast.io

security:
  - api_key:
      - api_key

components:
  securitySchemes:
    api_key:
      type: apiKey
      description: API key authentication
      in: header
      name: Authorization
  schemas:
    AvailabilityZone:
      $ref: 'components/schemas/availabilityZone.yaml'
    Dhcp:
      $ref: 'components/schemas/dhcp.yaml'
    DiscountPlan:
      $ref: 'components/schemas/discountPlan.yaml'
    FloatingIP:
      $ref: 'components/schemas/floatingIp.yaml'
    FirewallRule:
      $ref: 'components/schemas/firewallRule.yaml'
    FirewallPolicy:
      $ref: 'components/schemas/firewallPolicy.yaml'
    HostGroup:
      $ref: 'resources/HostGroup/schema.yaml'
    HostSpec:
      $ref: 'resources/HostSpec/schema.yaml'
    Image:
      $ref: 'resources/Image/schema.yaml'
    ImageMetadata:
      $ref: 'resources/ImageMetadata/schema.yaml'
    ImageParameter:
      $ref: 'resources/ImageParameter/schema.yaml'
    Instance:
      $ref: 'components/schemas/instance.yaml'
    LoadBalancerSpecification:
      $ref: 'resources/LoadBalancerSpecification/public_schema.yaml'
    IpAddress :
      $ref : 'resources/IpAddress/schema.yaml'
    Meta:
      $ref: 'components/schemas/meta.yaml'
    Network:
      $ref: 'components/schemas/network.yaml'
    NetworkPolicy:
      $ref: 'components/schemas/networkPolicy.yaml'
    NetworkRule:
      $ref : 'components/schemas/networkRule.yaml'
    NetworkRulePort :
      $ref : 'components/schemas/networkRulePort.yaml'
    Nics:
      $ref: 'components/schemas/nic.yaml'
    Region:
      $ref: 'components/schemas/region.yaml'
    Router:
      $ref: 'components/schemas/router.yaml'
    RouterThroughput:
      $ref: 'components/schemas/routerThroughput.yaml'
    SSHKeyPair:
      $ref: 'resources/SSHKeyPair/schema.yaml'
    Task:
      $ref: 'components/schemas/task.yaml'
    VirtualPrivateCloud:
      $ref: 'components/schemas/vpc.yaml'
    Volume:
      $ref: 'components/schemas/volume.yaml'
    VolumeGroups:
      $ref: 'resources/VolumeGroup/schema.yaml'
    VpnEndpoint:
      $ref: 'resources/VpnEndpoint/schema.yaml'
    VpnProfileGroup:
      $ref: 'components/schemas/vpnProfileGroup.yaml'
    VpnService:
      $ref: 'components/schemas/vpnService.yaml'
    VpnSession:
      $ref: 'components/schemas/vpnSession.yaml'
  #    When adding a schema, add it to the list alphabetically using the following format:-
  #    Reference:
  #      $ref: 'resource/References/schema.yaml'
  parameters:
    # DEPRECATED - don't add these directly in this file any more.
    # Path Parameters
    AvailabilityZoneId:
      $ref: 'resources/AvailabilityZone/parameters/availabilityZoneId.yaml'
    DhcpId:
      $ref: 'resources/Dhcp/parameters/dhcpId.yaml'
    DiscountPlanId:
      $ref: 'resources/DiscountPlan/parameters/discountPlanId.yaml'
    FirewallPolicyId:
      $ref: 'resources/FirewallPolicy/parameters/firewallPolicyId.yaml'
    LoadBalancerSpecificationId:
      $ref: 'resources/LoadBalancerSpecification/parameters/loadBalancerSpecificationId.yaml'
    NetworkPolicyId:
      $ref: 'resources/NetworkPolicy/parameters/networkPolicyId.yaml'
    NetworkRulePortId:
      $ref: 'resources/NetworkRulePort/parameters/networkRulePortId.yaml'
    NetworkRuleId:
      $ref: 'resources/NetworkRule/parameters/networkRuleId.yaml'
    RegionId:
      $ref: 'resources/Region/parameters/regionId.yaml'
    RouterId:
      $ref: 'resources/Router/parameters/routerId.yaml'
    VolumeGroupId:
      $ref: 'resources/VolumeGroup/parameters/volumeGroupId.yaml'
    VpcId:
      $ref: 'resources/Vpc/parameters/vpcId.yaml'
    VpnEndpointId:
      $ref: 'resources/VpnEndpoint/parameters/vpnEndpointId.yaml'
    VpnProfileGroupId:
      $ref: 'resources/VpnProfileGroup/parameters/vpnProfileGroupId.yaml'
    VpnServiceId:
      $ref: 'resources/VpnService/parameters/vpnServiceId.yaml'
    VpnSessionId:
      $ref: 'resources/VpnSession/parameters/vpnSessionId.yaml'
    #    When adding a path parameter use the following format, and remember to add it alphabetically to the list!
    #    ReferenceId:
    #      $ref: 'resources/References/parameters/id.yaml'
    # Query Parameters
    PerPage:
      $ref: 'components/parameters/perPage.yaml'
    Page:
      $ref: 'components/parameters/page.yaml'
  responses:
    # DEPRECATED - don't add these directly in this file any more.
    DhcpIdResponse:
      $ref: 'resources/Dhcp/responses/idResponse.yaml'
    DiscountPlanResponse:
      $ref: 'resources/DiscountPlan/responses/idResponse.yaml'
    FirewallPolicyIdResponse:
      $ref: 'resources/FirewallPolicy/responses/idResponse.yaml'
    NetworkPolicyIdResponse:
      $ref: 'resources/NetworkPolicy/responses/idResponse.yaml'
    NetworkRulePortIdResponse:
      $ref: 'resources/NetworkRulePort/responses/idResponse.yaml'
    NetworkRuleIdResponse:
      $ref: 'resources/NetworkRule/responses/idResponse.yaml'
    RouterIdResponse:
      $ref: 'resources/Router/responses/idResponse.yaml'
    VolumeGroupIdResponse:
      $ref: 'resources/VolumeGroup/responses/idResponse.yaml'
    VpnEndpointIdResponse:
      $ref: 'resources/VpnEndpoint/responses/idResponse.yaml'
    VpnProfileGroupIdResponse:
      $ref: 'resources/VpnProfileGroup/responses/idResponse.yaml'
    VpnServiceIdResponse:
      $ref: 'resources/VpnService/responses/idResponse.yaml'
    VpnSessionIdResponse:
      $ref: 'resources/VpnSession/responses/idResponse.yaml'
#    When adding a new response id, use the following format
#    ReferenceIdResponse:
#      $ref: 'resources/References/responses/idResponse.yaml'
paths:
  '/ecloud/v2/availability-zones':
    $ref: 'resources/AvailabilityZone/collection.yaml'
  '/ecloud/v2/availability-zones/{AvailabilityZoneId}':
    $ref: 'resources/AvailabilityZone/item.yaml'
  '/ecloud/v2/availability-zones/{AvailabilityZoneId}/router-throughputs':
    $ref: 'resources/AvailabilityZone/router-throughputs-collection.yaml'
  '/ecloud/v2/billing-metrics':
    $ref: 'resources/BillingMetric/public_collection.yaml'
  '/ecloud/v2/billing-metrics/{billingMetricsId}':
    $ref: 'resources/BillingMetric/public_item.yaml'
  '/ecloud/v2/dhcps':
    $ref: 'resources/Dhcp/collection.yaml'
  '/ecloud/v2/dhcps/{dhcpId}':
    $ref: 'resources/Dhcp/item.yaml'
  '/ecloud/v2/dhcps/{dhcpId}/tasks':
    $ref: 'resources/Dhcp/tasks-collection.yaml'
  '/ecloud/v2/discount-plans':
    $ref: 'resources/DiscountPlan/public_collection.yaml'
  '/ecloud/v2/discount-plans/{discountPlanId}':
    $ref: 'resources/DiscountPlan/public_item.yaml'
  '/ecloud/v2/discount-plans/{discountPlanId}/approve':
    $ref: 'resources/DiscountPlan/approve-item.yaml'
  '/ecloud/v2/discount-plans/{discountPlanId}/reject':
    $ref: 'resources/DiscountPlan/reject-item.yaml'
  '/ecloud/v2/firewall-policies':
    $ref: 'resources/FirewallPolicy/collection.yaml'
  '/ecloud/v2/firewall-policies/{firewallPolicyId}':
    $ref: 'resources/FirewallPolicy/item.yaml'
  '/ecloud/v2/firewall-policies/{firewallPolicyId}/firewall-rules':
    $ref: 'resources/FirewallPolicy/firewall-rules-collection.yaml'
  '/ecloud/v2/firewall-policies/{firewallPolicyId}/tasks':
    $ref: 'resources/FirewallPolicy/tasks-collection.yaml'
  '/ecloud/v2/firewall-rule-ports':
    $ref: 'resources/FirewallRulePort/collection.yaml'
  '/ecloud/v2/firewall-rule-ports/{firewallRulePortId}':
    $ref: 'resources/FirewallRulePort/item.yaml'
  '/ecloud/v2/firewall-rules':
    $ref: 'resources/FirewallRule/collection.yaml'
  '/ecloud/v2/firewall-rules/{firewallRuleId}':
    $ref: 'resources/FirewallRule/item.yaml'
  '/ecloud/v2/firewall-rules/{firewallRuleId}/ports':
    $ref: 'resources/FirewallRule/ports.yaml'
  '/ecloud/v2/floating-ips':
    $ref: 'resources/FloatingIp/collection.yaml'
  '/ecloud/v2/floating-ips/{fipId}':
    $ref: 'resources/FloatingIp/item.yaml'
  '/ecloud/v2/floating-ips/{fipId}/assign':
    $ref: 'resources/FloatingIp/assign.yaml'
  '/ecloud/v2/floating-ips/{fipId}/tasks':
    $ref: 'resources/FloatingIp/tasks-collection.yaml'
  '/ecloud/v2/floating-ips/{fipId}/unassign':
    $ref: 'resources/FloatingIp/unassign.yaml'
  #  '/ecloud/v2/hosts':
  #    $ref: 'resources/Host/collection.yaml'
  #  '/ecloud/v2/hosts/{id}':
  #    $ref: 'resources/Host/item.yaml'
  #  '/ecloud/v2/hosts/{id}/tasks':
  #    $ref: 'resources/Host/tasks-collection.yaml'
  #  '/ecloud/v2/host-specs':
  #    $ref: 'resources/HostSpec/collection.yaml'
  #  '/ecloud/v2/host-specs/{hostSpecId}':
  #    $ref: 'resources/HostSpec/item.yaml'
  #  '/ecloud/v2/host-groups':
  #    $ref: 'resources/HostGroup/collection.yaml'
  #  '/ecloud/v2/host-groups/{id}':
  #    $ref: 'resources/HostGroup/item.yaml'
  #  '/ecloud/v2/host-groups/{id}/tasks':
  #    $ref: 'resources/HostGroup/tasks-collection.yaml'
  '/ecloud/v2/images':
    $ref: 'resources/Image/collection.yaml'
  '/ecloud/v2/images/{id}':
    $ref: 'resources/Image/item.yaml'
  '/ecloud/v2/image/{id}/metadata':
    $ref: 'resources/Image/metadata-collection.yaml'
  '/ecloud/v2/image/{id}/parameters':
    $ref: 'resources/Image/parameters-collection.yaml'
  '/ecloud/v2/instances':
    $ref: 'resources/Instance/collection.yaml'
  '/ecloud/v2/instances/{instanceId}':
    $ref: 'resources/Instance/item.yaml'
  '/ecloud/v2/instances/{instanceId}/console-session':
    $ref: 'resources/Instance/console.yaml'
  '/ecloud/v2/instances/{instanceId}/create-image':
    $ref: 'resources/Instance/create-image.yaml'
  '/ecloud/v2/instances/{instanceId}/credentials':
    $ref: 'resources/Instance/credentials.yaml'
  '/ecloud/v2/instances/{instanceId}/lock':
    $ref: 'resources/Instance/lockUnlock.yaml'
  '/ecloud/v2/instances/{instanceId}/migrate':
    $ref: 'resources/Instance/migrate.yaml'
  '/ecloud/v2/instances/{instanceId}/nics':
    $ref: 'resources/Instance/nics.yaml'
  '/ecloud/v2/instances/{instanceId}/power-off':
    $ref: 'resources/Instance/poweronoff.yaml'
  '/ecloud/v2/instances/{instanceId}/power-on':
    $ref: 'resources/Instance/poweronoff.yaml'
  '/ecloud/v2/instances/{instanceId}/power-reset':
    $ref: 'resources/Instance/poweronoff.yaml'
  '/ecloud/v2/instances/{instanceId}/power-restart':
    $ref: 'resources/Instance/poweronoff.yaml'
  '/ecloud/v2/instances/{instanceId}/power-shutdown':
    $ref: 'resources/Instance/poweronoff.yaml'
  '/ecloud/v2/instances/{instanceId}/tasks':
    $ref: 'resources/Instance/tasks-collection.yaml'
  '/ecloud/v2/instances/{instanceId}/floating-ips':
    $ref: 'resources/Instance/fips-collection.yaml'
  '/ecloud/v2/instances/{instanceId}/unlock':
    $ref: 'resources/Instance/lockUnlock.yaml'
  '/ecloud/v2/instances/{instanceId}/volume-attach':
    $ref: 'resources/Instance/volume-attachdetach.yaml'
  '/ecloud/v2/instances/{instanceId}/volume-detach':
    $ref: 'resources/Instance/volume-attachdetach.yaml'
  '/ecloud/v2/instances/{instanceId}/volumes':
    $ref: 'resources/Instance/volumes.yaml'
#  '/ecloud/v2/load-balancers':
#    $ref: 'resources/LoadBalancer/collection.yaml'
#  '/ecloud/v2/load-balancers/{loadBalancerId}':
#    $ref: 'resources/LoadBalancer/item.yaml'
  '/ecloud/v2/load-balancer-specs':
    $ref: 'resources/LoadBalancerSpecification/collection.yaml'
  '/ecloud/v2/load-balancer-specs/{loadBalancerSpecificationId}':
    $ref: 'resources/LoadBalancerSpecification/item.yaml'
  '/ecloud/v2/network-policies':
    $ref: 'resources/NetworkPolicy/collection.yaml'
  '/ecloud/v2/network-policies/{networkPolicyId}':
    $ref: 'resources/NetworkPolicy/item.yaml'
  '/ecloud/v2/network-policies/{networkPolicyId}/network-rules':
    $ref: 'resources/NetworkPolicy/network-rules-collection.yaml'
  '/ecloud/v2/network-policies/{networkPolicyId}/tasks':
    $ref: 'resources/NetworkPolicy/tasks-collection.yaml'
  '/ecloud/v2/network-rule-ports':
    $ref: 'resources/NetworkRulePort/collection.yaml'
  '/ecloud/v2/network-rule-ports/{networkRulePortId}':
    $ref: 'resources/NetworkRulePort/item.yaml'
  '/ecloud/v2/network-rules':
    $ref: 'resources/NetworkRule/collection.yaml'
  '/ecloud/v2/network-rules/{networkRuleId}':
    $ref: 'resources/NetworkRule/item.yaml'
  '/ecloud/v2/networks':
    $ref: 'resources/Network/collection.yaml'
  '/ecloud/v2/networks/{networkId}':
    $ref: 'resources/Network/item.yaml'
  '/ecloud/v2/networks/{networkId}/nics':
    $ref: 'resources/Network/nic-collection.yaml'
  '/ecloud/v2/networks/{networkId}/tasks':
    $ref: 'resources/Network/tasks-collection.yaml'
  '/ecloud/v2/nics':
    $ref: 'resources/Nic/public_collection.yaml'
  '/ecloud/v2/nics/{nicId}':
    $ref: 'resources/Nic/public_item.yaml'
  '/ecloud/v2/nics/{nicId}/ip-addresses' :
    $ref : 'resources/Nic/ip-address-collection.yaml'
  /ecloud/v2/nics/{nicId}/ip-addresses/{ipAddressId}:
    $ref : 'resources/Nic/ip-address-item.yaml'
  '/ecloud/v2/nics/{nicId}/tasks':
    $ref: 'resources/Nic/tasks-collection.yaml'
  '/ecloud/v2/regions':
    $ref: 'resources/Region/collection.yaml'
  '/ecloud/v2/regions/{regionId}':
    $ref: 'resources/Region/item.yaml'
  '/ecloud/v2/routers':
    $ref: 'resources/Router/collection.yaml'
  '/ecloud/v2/routers/{routerId}':
    $ref: 'resources/Router/item.yaml'
  '/ecloud/v2/routers/{routerId}/configure-default-policies':
    $ref: 'resources/Router/configureDefaults.yaml'
  '/ecloud/v2/routers/{routerId}/firewall-policies':
    $ref: 'resources/Router/firewall-policies-collection.yaml'
  '/ecloud/v2/routers/{routerId}/networks':
    $ref: 'resources/Router/network-collection.yaml'
  '/ecloud/v2/routers/{routerId}/tasks':
    $ref: 'resources/Router/tasks-collection.yaml'
  '/ecloud/v2/routers/{routerId}/vpns':
    $ref: 'resources/Router/vpns-collection.yaml'
  '/ecloud/v2/router-throughputs':
    $ref: 'resources/RouterThroughput/collection.yaml'
  '/ecloud/v2/router-throughputs/{routerThroughputId}':
    $ref: 'resources/RouterThroughput/item.yaml'
  '/ecloud/v2/ssh-key-pairs':
    $ref: 'resources/SSHKeyPair/collection.yaml'
  '/ecloud/v2/ssh-key-pairs/{keypairId}':
    $ref: 'resources/SSHKeyPair/item.yaml'
  '/ecloud/v2/support':
    $ref: 'resources/VpcSupport/collection.yaml'
  '/ecloud/v2/support/{supportId}':
    $ref: 'resources/VpcSupport/item.yaml'
  '/ecloud/v2/tasks':
    $ref: 'resources/Task/collection.yaml'
  '/ecloud/v2/tasks/{taskId}':
    $ref: 'resources/Task/item.yaml'
  '/ecloud/v2/volumes':
    $ref: 'resources/Volume/collection.yaml'
  '/ecloud/v2/volumes/{volumeId}':
    $ref: 'resources/Volume/item.yaml'
  '/ecloud/v2/volumes/{volumeId}/instances':
    $ref: 'resources/Volume/instance.yaml'
  '/ecloud/v2/volumes/{volumeId}/tasks':
    $ref: 'resources/Volume/tasks-collection.yaml'
  '/ecloud/v2/volume-groups':
    $ref: 'resources/VolumeGroup/collection.yaml'
  '/ecloud/v2/volume-groups/{volumeGroupId}':
    $ref: 'resources/VolumeGroup/item.yaml'
  '/ecloud/v2/volume-groups/{volumeGroupId}/volumes':
    $ref: 'resources/VolumeGroup/volumes.yaml'
  '/ecloud/v2/vpcs':
    $ref: 'resources/Vpc/collection.yaml'
  '/ecloud/v2/vpcs/{vpcId}':
    $ref: 'resources/Vpc/item.yaml'
  '/ecloud/v2/vpcs/{vpcId}/deploy-defaults':
    $ref: 'resources/Vpc/deploy-defaults.yaml'
  '/ecloud/v2/vpcs/{vpcId}/instances':
    $ref: 'resources/Vpc/instances-collection.yaml'
  '/ecloud/v2/vpcs/{vpcId}/tasks':
    $ref: 'resources/Vpc/tasks-collection.yaml'
  '/ecloud/v2/vpcs/{vpcId}/volumes':
    $ref: 'resources/Vpc/volumes-collection.yaml'
  '/ecloud/v2/vpn-endpoints':
    $ref: 'resources/VpnEndpoint/collection.yaml'
  '/ecloud/v2/vpn-endpoints/{vpnEndpointId}':
    $ref: 'resources/VpnEndpoint/item.yaml'
  '/ecloud/v2/vpn-profile-groups':
    $ref: 'resources/VpnProfileGroup/collection.yaml'
  '/ecloud/v2/vpn-profile-groups/{vpnProfileGroupId}':
    $ref: 'resources/VpnProfileGroup/item.yaml'
  '/ecloud/v2/vpn-services':
    $ref: 'resources/VpnService/collection.yaml'
  '/ecloud/v2/vpn-services/{vpnServiceId}':
    $ref: 'resources/VpnService/item.yaml'
  '/ecloud/v2/vpn-sessions':
    $ref: 'resources/VpnSession/collection.yaml'
  '/ecloud/v2/vpn-sessions/{vpnSessionId}':
    $ref: 'resources/VpnSession/item.yaml'
  '/ecloud/v2/vpn-sessions/{vpnSessionId}/pre-shared-key':
    $ref: 'resources/VpnSession/pre-shared-key.yaml'
# When adding endpoints, add them to the list alphabetically using the following format:-
#  '/ecloud/v2/references':
#    $ref: 'resources/Reference/collection.yaml'
#  '/ecloud/v2/references/{referenceId}':
#    $ref: 'resources/Reference/item.yaml'
