---

openapi: '3.0.0'
info:
  title: eCloud API
  version: '2.0.0'

servers:
  - url: https://api.ukfast.io

security:
  - api_key:
      - api_key

components:
  securitySchemes:
    api_key:
      type: apiKey
      description: API key authentication
      in: header
      name: Authorization
  schemas:
    AvailabilityZone:
      $ref: 'components/schemas/availabilityZone.yaml'
    VirtualPrivateCloud:
      $ref: 'components/schemas/vpc.yaml'
    Network:
      $ref: 'components/schemas/network.yaml'
    Dhcp:
      $ref: 'components/schemas/dhcp.yaml'
    Vpn:
      $ref: 'components/schemas/vpn.yaml'
    Instance:
      $ref: 'components/schemas/instance.yaml'
    FloatingIP:
      $ref: 'components/schemas/floatingIp.yaml'
    FirewallRule:
      $ref: 'components/schemas/firewallRule.yaml'
    Region:
      $ref: 'components/schemas/region.yaml'
    Router:
      $ref: 'components/schemas/router.yaml'
    Gateway:
      $ref: 'components/schemas/gateway.yaml'
    Meta:
      $ref: 'components/schemas/meta.yaml'
  parameters:
    # Query Parameters
    PerPage:
      $ref: 'components/parameters/perPage.yaml'
    Page:
      $ref: 'components/parameters/page.yaml'
    # Path Parameters
    VpcId:
      $ref: 'resources/Vpc/parameters/vpcId.yaml'
    AvailabilityZoneId:
        $ref: 'resources/AvailabilityZone/parameters/availabilityZoneId.yaml'
    NetworkId:
      $ref: 'resources/Network/parameters/networkId.yaml'
    DhcpId:
      $ref: 'resources/Network/parameters/networkId.yaml'
    VpnId:
      $ref: 'resources/Vpn/parameters/vpnId.yaml'
    InstanceId:
      $ref: 'resources/Instance/parameters/instanceId.yaml'
    FipId:
      $ref: 'resources/FloatingIp/parameters/fipId.yaml'
    FirewallRuleId:
      $ref: 'resources/FirewallRule/parameters/firewallRuleId.yaml'
    RegionId:
      $ref: 'resources/Region/parameters/regionId.yaml'
    RouterId:
      $ref: 'resources/Router/parameters/routerId.yaml'
    GatewayId:
      $ref: 'resources/Gateway/parameters/gatewayId.yaml'
  responses:
    VirtualPrivateCloudsIdResponse:
      $ref: 'resources/Vpc/responses/idResponse.yaml'
    NetworksIdResponse:
      $ref: 'resources/Network/responses/idResponse.yaml'
    DhcpIdResponse:
      $ref: 'resources/Dhcp/responses/idResponse.yaml'
    VpnIdResponse:
      $ref: 'resources/Vpn/responses/idResponse.yaml'
    InstanceIdResponse:
      $ref: 'resources/Instance/responses/idResponse.yaml'
    FipIdResponse:
      $ref: 'resources/FloatingIp/responses/idResponse.yaml'
    FirewallRuleIdResponse:
      $ref: 'resources/FirewallRule/responses/idResponse.yaml'
    RouterIdResponse:
      $ref: 'resources/Router/responses/idResponse.yaml'
    GatewayIdResponse:
      $ref: 'resources/Gateway/responses/idResponse.yaml'
paths:
  '/ecloud/v2/vpcs':
    $ref: 'resources/Vpc/collection.yaml'
  '/ecloud/v2/vpcs/{vpcId}':
    $ref: 'resources/Vpc/item.yaml'

  '/ecloud/v2/availability-zones':
    $ref: 'resources/AvailabilityZone/collection.yaml'
  '/ecloud/v2/availability-zones/{AvailabilityZoneId}':
    $ref: 'resources/AvailabilityZone/item.yaml'

  '/ecloud/v2/networks':
    $ref: 'resources/Network/collection.yaml'
  '/ecloud/v2/networks/{networkId}':
    $ref: 'resources/Network/item.yaml'

  '/ecloud/v2/dhcps':
    $ref: 'resources/Dhcp/collection.yaml'
  '/ecloud/v2/vpcs/{dhcpId}':
    $ref: 'resources/Dhcp/item.yaml'

  '/ecloud/v2/vpns':
    $ref: 'resources/Vpn/collection.yaml'
  '/ecloud/v2/vpns/{vpnId}':
    $ref: 'resources/Vpn/item.yaml'

  '/ecloud/v2/instances':
    $ref: 'resources/Instance/collection.yaml'
  '/ecloud/v2/instances/{instanceId}':
    $ref: 'resources/Instance/item.yaml'

  '/ecloud/v2/floating-ips':
    $ref: 'resources/FloatingIp/collection.yaml'
  '/ecloud/v2/floating-ips/{instanceId}':
    $ref: 'resources/FloatingIp/item.yaml'

  '/ecloud/v2/firewall-rules':
    $ref: 'resources/FirewallRule/collection.yaml'
  '/ecloud/v2/firewall-rules/{firewallRuleId}':
    $ref: 'resources/FirewallRule/item.yaml'

  '/ecloud/v2/regions':
    $ref: 'resources/Region/collection.yaml'
  '/ecloud/v2/regions/{regionId}':
    $ref: 'resources/Region/item.yaml'

  '/ecloud/v2/routers':
    $ref: 'resources/Router/collection.yaml'
  '/ecloud/v2/routers/{routerId}':
    $ref: 'resources/Router/item.yaml'

  '/ecloud/v2/gateways':
    $ref: 'resources/Gateway/collection.yaml'
  '/ecloud/v2/gateways/{gatewayId}':
    $ref: 'resources/Gateway/item.yaml'
