---

openapi: '3.0.0'
info:
  title: eCloud API
  version: '2.0.0'

servers:
  - url: https://api.ukfast.io

security:
  - api_key:
      - api_key

components:
  securitySchemes:
    api_key:
      type: apiKey
      description: API key authentication
      in: header
      name: Authorization
  schemas:
    Networks:
      properties:
        id:
          type: string
          example: net-2b66bb79
          readOnly: false
        name:
          type: string
          example: 'Manchester Network'
          readOnly: false
        created_at:
          type: string
          example: '2020-07-07T10:30:00+01:00'
          readOnly: false
        updated_at:
          type: string
          example: '2020-07-07T10:30:00+01:00'
          readOnly: false
      description: 'Networks'
      required: {  }
    VirtualPrivateClouds:
      properties:
        id:
          type: string
          example: vpc-2b66bb79
          readOnly: false
        name:
          type: string
          example: 'Manchester Cloud 1'
          readOnly: false
        region_id:
          type: string
          example: 'reg-a63dd78c'
          readOnly: false
        created_at:
          type: string
          example: '2020-07-07T10:30:00+01:00'
          readOnly: false
        updated_at:
          type: string
          example: '2020-07-07T10:30:00+01:00'
          readOnly: false
      description: 'Virtual Private Clouds'
      required: {  }
    Dhcps:
      properties:
        id:
          type: string
          example: 'dhc-2b66bb79'
          readOnly: false
        vpc_id:
          type: string
          example: 'vpc-2b66bb79'
          readOnly: false
        created_at:
          type: string
          example: '2020-07-07T10:30:00+01:00'
          readOnly: false
        updated_at:
          type: string
          example: '2020-07-07T10:30:00+01:00'
          readOnly: false
      description: 'Dhcps'
      required: {  }
    Vpns:
      properties:
        id:
          type: string
          example: 'dhc-2b66bb79'
          readOnly: false
        router_id:
          type: string
          example: 'rtr-2b66bb79'
          readOnly: false
        availability_zone_id:
          type: string
          example: 'avz-2b66bb79'
          readOnly: false
        created_at:
          type: string
          example: '2020-07-07T10:30:00+01:00'
          readOnly: false
        updated_at:
          type: string
          example: '2020-07-07T10:30:00+01:00'
          readOnly: false
      description: 'Vpns'
      required: {  }
    Instances:
      properties:
        id:
          type: string
          example: vdc-2b66bb79
          readOnly: false
        network_id:
          type: string
          example: net-2b66bb79
          readOnly: false
        created_at:
          type: string
          example: '2020-07-07T10:30:00+01:00'
          readOnly: false
        updated_at:
          type: string
          example: '2020-07-07T10:30:00+01:00'
          readOnly: false
      description: 'Instances'
      required: {  }
    FloatingIPs:
      properties:
        id:
          type: string
          example: fip-2b66bb79
          readOnly: false
        created_at:
          type: string
          example: '2020-07-07T10:30:00+01:00'
          readOnly: false
        updated_at:
          type: string
          example: '2020-07-07T10:30:00+01:00'
          readOnly: false
      description: 'Floating IP addresses'
      required: {  }
    FirewallRules:
      properties:
        id:
          type: string
          example: fwr-2b66bb79
          readOnly: false
        name:
          type: string
          example: 'Internal FW Rule'
          readOnly: false
        router_id:
          type: string
          example: rtr-2b66bb79
          readOnly: false
        created_at:
          type: string
          example: '2020-07-07T10:30:00+01:00'
          readOnly: false
        updated_at:
          type: string
          example: '2020-07-07T10:30:00+01:00'
          readOnly: false
      description: 'FirewallRules'
      required: {  }
    AvailabilityZones:
      properties:
        id:
          type: string
          example: avz-2b66bb79
          readOnly: false
        code:
          type: string
          example: MAN1
          readOnly: false
        name:
          type: string
          example: 'Manchester Region 1'
          readOnly: false
        datacentre_site_id:
          type: integer
          example: 999
          readOnly: false
        created_at:
          type: string
          example: '2020-07-07T10:30:00+01:00'
          readOnly: false
        updated_at:
          type: string
          example: '2020-07-07T10:30:00+01:00'
          readOnly: false
      description: 'Availability Zones'
      required: {  }
    Regions:
      properties:
        id:
          type: string
          example: reg-2b66bb79
          readOnly: false
        name:
          type: string
          example: 'United Kingdom'
          readOnly: false
        created_at:
          type: string
          example: '2020-07-07T10:30:00+01:00'
          readOnly: true
        updated_at:
          type: string
          example: '2020-07-07T10:30:00+01:00'
          readOnly: true
      description: 'Regions'
      required: {  }

paths:
  '/ecloud/v2/availability-zones':
    get:
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AvailabilityZones'
                  meta:
                    type: object
                    required:
                      - pagination
                    properties:
                      pagination:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 30
                          count:
                            type: integer
                            example: 10
                          per_page:
                            type: integer
                            example: 10
                          current_page:
                            type: integer
                            example: 2
                          total_pages:
                            type: integer
                            example: 3
                          links:
                            type: object
                            properties:
                              first:
                                type: string
                                example: 'https://api.ukfast.io/ecloud/v2/availability-zones?page=1'
                              previous:
                                type: string
                                example: 'https://api.ukfast.io/ecloud/v2/availability-zones?page=1'
                              next:
                                type: string
                                example: 'https://api.ukfast.io/ecloud/v2/availability-zones?page=2'
                              last:
                                type: string
                                example: 'https://api.ukfast.io/ecloud/v2/availability-zones?page=2'
      tags:
        - AvailabilityZones
      parameters:
        -
          name: per_page
          in: query
          required: false
          schema:
            type: integer
          description: 'Number of items to display per page'
        -
          name: page
          in: query
          required: false
          schema:
            type: integer
          description: 'Page number to jump to'

  '/ecloud/v2/availability-zones/{zoneId}':
    get:
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    $ref: '#/components/schemas/AvailabilityZones'
                  meta:
                    type: object
      tags:
        - AvailabilityZones
      parameters:
        -
          name: zoneId
          in: path
          required: true
          schema:
            type: string
          example: avz-2b66bb79
  '/ecloud/v2/vpcs':
    get:
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/VirtualPrivateClouds'
                  meta:
                    type: object
                    required:
                      - pagination
                    properties:
                      pagination:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 30
                          count:
                            type: integer
                            example: 10
                          per_page:
                            type: integer
                            example: 10
                          current_page:
                            type: integer
                            example: 2
                          total_pages:
                            type: integer
                            example: 3
                          links:
                            type: object
                            properties:
                              first:
                                type: string
                                example: 'https://api.ukfast.io/ecloud/v2/vpcs?page=1'
                              previous:
                                type: string
                                example: 'https://api.ukfast.io/ecloud/v2/vpcs?page=1'
                              next:
                                type: string
                                example: 'https://api.ukfast.io/ecloud/v2/vpcs?page=2'
                              last:
                                type: string
                                example: 'https://api.ukfast.io/ecloud/v2/vpcs?page=2'
      tags:
        - VirtualPrivateClouds
      parameters:
        -
          name: per_page
          in: query
          required: false
          schema:
            type: integer
          description: 'Number of items to display per page'
        -
          name: page
          in: query
          required: false
          schema:
            type: integer
          description: 'Page number to jump to'

    post:
      responses:
        201:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: vpc-2b66bb79
                  meta:
                    type: object
                    properties:
                      location:
                        type: string
                        example: 'https://api.ukfast.io/ecloud/v2/vpcs/vpc-2b66bb79'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Name of the Virtual Private Cloud
                  type: string
                  example: 'My Test VPC'
                  required: false
                region_id:
                  description: Identifier of the region into which the VPC will be created
                  type: string
                  example: 'reg-a63dd78c'
                  required: true
      tags:
        - VirtualPrivateClouds
      parameters: {  }
  '/ecloud/v2/vpcs/{vpcId}':
    get:
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    $ref: '#/components/schemas/VirtualPrivateClouds'
                  meta:
                    type: object
      tags:
        - VirtualPrivateClouds
      parameters:
        -
          name: vpcId
          in: path
          required: true
          schema:
            type: string
          example: vpc-2b66bb79
    patch:
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id: string
                      example: vpc-2b66bb79
                  meta:
                    type: object
                    properties:
                      location:
                        type: string
                        example: 'https://api.ukfast.io/ecloud/v2/vpcs/vpc-2b66bb79'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Name of the Virtual Private Cloud
                  type: string
                  example: 'My Test VPC'
                region_id:
                  description: Identifier of the region into which the VPC will reside
                  type: string
                  example: 'reg-a63dd78c'
                  required: true
      tags:
        - VirtualPrivateClouds
      parameters:
        -
          name: vpcId
          in: path
          required: true
          schema:
            type: string
          example: vpc-2b66bb79
    delete:
      responses:
        204:
          description: Success
      tags:
        - VirtualPrivateClouds
      parameters:
        -
          name: zoneId
          in: path
          required: true
          schema:
            type: string
          example: avz-2b66bb79
  '/ecloud/v2/networks':
    get:
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Networks'
                  meta:
                    type: object
                    required:
                      - pagination
                    properties:
                      pagination:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 30
                          count:
                            type: integer
                            example: 10
                          per_page:
                            type: integer
                            example: 10
                          current_page:
                            type: integer
                            example: 2
                          total_pages:
                            type: integer
                            example: 3
                          links:
                            type: object
                            properties:
                              first:
                                type: string
                                example: 'https://api.ukfast.io/ecloud/v2/networks?page=1'
                              previous:
                                type: string
                                example: 'https://api.ukfast.io/ecloud/v2/networks?page=1'
                              next:
                                type: string
                                example: 'https://api.ukfast.io/ecloud/v2/networks?page=2'
                              last:
                                type: string
                                example: 'https://api.ukfast.io/ecloud/v2/networks?page=2'
      tags:
        - Networks
      parameters:
        -
          name: per_page
          in: query
          required: false
          schema:
            type: integer
          description: 'Number of items to display per page'
        -
          name: page
          in: query
          required: false
          schema:
            type: integer
          description: 'Page number to jump to'
    post:
      responses:
        201:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: net-2b66bb79
                  meta:
                    type: object
                    properties:
                      location:
                        type: string
                        example: 'https://api.ukfast.io/ecloud/v2/networks/net-2b66bb79'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Name for the network
                  type: string
                  example: 'Network 1'
                router_id:
                  description: Identification of the associated router
                  type: string
                  example: rtr-2b66bb79
                availability_zone_id:
                  description: Identification of the availability zone to assign the network to
                  type: string
                  example: avz-2b66bb79
      tags:
        - Networks
      parameters: {  }
  '/ecloud/v2/networks/{networkId}':
    get:
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    $ref: '#/components/schemas/Networks'
                  meta:
                    type: object
      tags:
        - Networks
      parameters:
        -
          name: networkId
          in: path
          required: true
          schema:
            type: string
          example: net-2b66bb79
    patch:
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: net-2b66bb79
                  meta:
                    type: object
                    properties:
                      location:
                        type: string
                        example: 'https://api.ukfast.io/ecloud/v2/networks/net-2b66bb79'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Name for the network
                  type: string
                  example: 'Network 1'
                router_id:
                  description: Identification of the associated router
                  type: string
                  example: rtr-2b66bb79
                availability_zone_id:
                  description: Identification of the availability zone to assign the network to
                  type: string
                  example: avz-2b66bb79
      tags:
        - Networks
      parameters:
        -
          name: networkId
          in: path
          required: true
          schema:
            type: string
          example: net-2b66bb79
    delete:
      responses:
        204:
          description: Success
      tags:
        - Networks
      parameters:
        -
          name: networkId
          in: path
          required: true
          schema:
            type: string
          example: net-2b66bb79
  '/ecloud/v2/dhcps':
    get:
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Dhcps'
                  meta:
                    type: object
                    required:
                      - pagination
                    properties:
                      pagination:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 30
                          count:
                            type: integer
                            example: 10
                          per_page:
                            type: integer
                            example: 10
                          current_page:
                            type: integer
                            example: 2
                          total_pages:
                            type: integer
                            example: 3
                          links:
                            type: object
                            properties:
                              first:
                                type: string
                                example: 'https://api.ukfast.io/ecloud/v2/dhcps?page=1'
                              previous:
                                type: string
                                example: 'https://api.ukfast.io/ecloud/v2/dhcps?page=1'
                              next:
                                type: string
                                example: 'https://api.ukfast.io/ecloud/v2/dhcps?page=2'
                              last:
                                type: string
                                example: 'https://api.ukfast.io/ecloud/v2/dhcps?page=2'
      tags:
        - Dhcps
      parameters:
        -
          name: per_page
          in: query
          required: false
          schema:
            type: integer
          description: 'Number of items to display per page'
        -
          name: page
          in: query
          required: false
          schema:
            type: integer
          description: 'Page number to jump to'
    post:
      responses:
        201:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: dhc-2b66bb79
                  meta:
                    type: object
                    properties:
                      location:
                        type: string
                        example: 'https://api.ukfast.io/ecloud/v2/dhcps/dhc-2b66bb79'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                vpc_id:
                  description: Identifier of the acssociated virtual private cloud
                  type: string
                  example: vpc-2b66bb79
      tags:
        - Dhcps
      parameters: {  }
  '/ecloud/v2/dchps/{dhcpsId}':
    get:
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    $ref: '#/components/schemas/Dhcps'
                  meta:
                    type: object
      tags:
        - Dhcps
      parameters:
        -
          name: dhcpsId
          in: path
          required: true
          schema:
            type: string
          example: dhc-2b66bb79
    patch:
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id: string
                      example: dhc-2b66bb79
                  meta:
                    type: object
                    properties:
                      location:
                        type: string
                        example: 'https://api.ukfast.io/ecloud/v2/dhcps/dhc-2b66bb79'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                vpc_id:
                  required: false
                  description: Identifier of the acssociated virtual private cloud
                  type: string
                  example: vpc-2b66bb79
      tags:
        - Dhcps
      parameters:
        -
          name: dhcpsId
          in: path
          required: true
          schema:
            type: string
          example: dhc-2b66bb79
    delete:
      responses:
        204:
          description: Success
      tags:
        - Dhcps
      parameters:
        -
          name: dhcpsId
          in: path
          required: true
          schema:
            type: string
          example: dhc-2b66bb79
  '/ecloud/v2/vpns':
    get:
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Vpns'
                  meta:
                    type: object
                    required:
                      - pagination
                    properties:
                      pagination:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 30
                          count:
                            type: integer
                            example: 10
                          per_page:
                            type: integer
                            example: 10
                          current_page:
                            type: integer
                            example: 2
                          total_pages:
                            type: integer
                            example: 3
                          links:
                            type: object
                            properties:
                              first:
                                type: string
                                example: 'https://api.ukfast.io/ecloud/v2/vpns?page=1'
                              previous:
                                type: string
                                example: 'https://api.ukfast.io/ecloud/v2/vpns?page=1'
                              next:
                                type: string
                                example: 'https://api.ukfast.io/ecloud/v2/vpns?page=2'
                              last:
                                type: string
                                example: 'https://api.ukfast.io/ecloud/v2/vpns?page=2'
      tags:
        - Vpns
      parameters:
        -
          name: per_page
          in: query
          required: false
          schema:
            type: integer
          description: 'Number of items to display per page'
        -
          name: page
          in: query
          required: false
          schema:
            type: integer
          description: 'Page number to jump to'
    post:
      responses:
        201:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: vpn-2b66bb79
                  meta:
                    type: object
                    properties:
                      location:
                        type: string
                        example: 'https://api.ukfast.io/ecloud/v2/vpns/vpn-2b66bb79'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                router_id:
                  description: Identification of the associated router
                  type: string
                  example: rtr-2b66bb79
                availability_zone_id:
                  description: Identification of the associated availability zone
                  type: string
                  example: avz-2b66bb79
      tags:
        - Vpns
      parameters: {  }
  '/ecloud/v2/vpns/{vpnId}':
    get:
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    $ref: '#/components/schemas/Vpns'
                  meta:
                    type: object
      tags:
        - Vpns
      parameters:
        -
          name: vpnId
          in: path
          required: true
          schema:
            type: string
          example: vpn-2b66bb79
    patch:
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: vpn-2b66bb79
                  meta:
                    type: object
                    properties:
                      location:
                        type: string
                        example: 'https://api.ukfast.io/ecloud/v2/vpns/vpn-2b66bb79'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                router_id:
                  required: false
                  description: Identification of the associated router
                  type: string
                  example: rtr-2b66bb79
                availability_zone_id:
                  required: false
                  description: Identification of the associated availability zone
                  type: string
                  example: avz-2b66bb79
      tags:
        - Vpns
      parameters:
        -
          name: vpnId
          in: path
          required: true
          schema:
            type: string
          example: vpn-2b66bb79
    delete:
      responses:
        204:
          description: Success
      tags:
        - Vpns
      parameters:
        -
          name: vpnId
          in: path
          required: true
          schema:
            type: string
          example: vpn-2b66bb79

  '/ecloud/v2/instances':
    get:
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Instances'
                  meta:
                    type: object
                    required:
                      - pagination
                    properties:
                      pagination:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 30
                          count:
                            type: integer
                            example: 10
                          per_page:
                            type: integer
                            example: 10
                          current_page:
                            type: integer
                            example: 2
                          total_pages:
                            type: integer
                            example: 3
                          links:
                            type: object
                            properties:
                              first:
                                type: string
                                example: 'https://api.ukfast.io/ecloud/v2/instances?page=1'
                              previous:
                                type: string
                                example: 'https://api.ukfast.io/ecloud/v2/instances?page=1'
                              next:
                                type: string
                                example: 'https://api.ukfast.io/ecloud/v2/instances?page=2'
                              last:
                                type: string
                                example: 'https://api.ukfast.io/ecloud/v2/instances?page=2'
      tags:
        - Instances
      parameters:
        -
          name: per_page
          in: query
          required: false
          schema:
            type: integer
          description: 'Number of items to display per page'
        -
          name: page
          in: query
          required: false
          schema:
            type: integer
          description: 'Page number to jump to'
    post:
      responses:
        201:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: i-cd226940
                  meta:
                    type: object
                    properties:
                      location:
                        type: string
                        example: 'https://api.ukfast.io/ecloud/v2/instances/i-cd226940'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                network_id:
                  description: Identification for the network to assign the instance to
                  type: string
                  example: net-2b66bb79
      tags:
        - Instances
      parameters: {  }
  '/ecloud/v2/instances/{instanceId}':
    get:
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Instances'
                  meta:
                    type: object
      tags:
        - Instances
      parameters:
        -
          name: instanceId
          in: path
          required: true
          schema:
            type: string
          example: i-cd226940
    patch:
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: i-cd226940
                  meta:
                    type: object
                    properties:
                      location:
                        type: string
                        example: 'https://api.ukfast.io/ecloud/v2/instances/i-cd226940'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                network_id:
                  description: Identification for the network to assign the instance to
                  type: string
                  example: net-2b66bb79
      tags:
        - Instances
      parameters:
        -
          name: instanced
          in: path
          required: true
          schema:
            type: string
          example: i-cd226940
    delete:
      responses:
        204:
          description: Success
      tags:
        - Instances
      parameters:
        -
          name: instanceId
          in: path
          required: true
          schema:
            type: string
          example: i-cd226940


  '/ecloud/v2/floating-ips':
    get:
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/FloatingIPs'
                  meta:
                    type: object
                    required:
                      - pagination
                    properties:
                      pagination:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 30
                          count:
                            type: integer
                            example: 10
                          per_page:
                            type: integer
                            example: 10
                          current_page:
                            type: integer
                            example: 2
                          total_pages:
                            type: integer
                            example: 3
                          links:
                            type: object
                            properties:
                              first:
                                type: string
                                example: 'https://api.ukfast.io/ecloud/v2/floating-ips?page=1'
                              previous:
                                type: string
                                example: 'https://api.ukfast.io/ecloud/v2/floating-ips?page=1'
                              next:
                                type: string
                                example: 'https://api.ukfast.io/ecloud/v2/floating-ips?page=2'
                              last:
                                type: string
                                example: 'https://api.ukfast.io/ecloud/v2/floating-ips?page=2'
      tags:
        - Floating IPs
      parameters:
        -
          name: per_page
          in: query
          required: false
          schema:
            type: integer
          description: 'Number of items to display per page'
        -
          name: page
          in: query
          required: false
          schema:
            type: integer
          description: 'Page number to jump to'
    post:
      responses:
        201:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: fip-cd226940
                  meta:
                    type: object
                    properties:
                      location:
                        type: string
                        example: 'https://api.ukfast.io/ecloud/v2/floating-ips/fip-cd226940'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: {  }
      tags:
        - Floating IPs
      parameters: {  }
  '/ecloud/v2/floating-ips/{fipId}':
      get:
        responses:
          200:
            description: success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/FloatingIPs'
                    meta:
                      type: object
        tags:
          - Floating IPs
        parameters:
          -
            name: fipId
            in: path
            required: true
            schema:
              type: string
            example: fip-cd226940
      patch:
        responses:
          200:
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        id:
                          type: string
                          example: fip-cd226940
                    meta:
                      type: object
                      properties:
                        location:
                          type: string
                          example: 'https://api.ukfast.io/ecloud/v2/floating-ips/fip-cd226940'
        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: object
                properties: {  }
        tags:
          - Floating IPs
        parameters:
          -
            name: instanced
            in: path
            required: true
            schema:
              type: string
            example: i-cd226940
      delete:
        responses:
          204:
            description: Success
        tags:
          - Floating IPs
        parameters:
          -
            name: fipId
            in: path
            required: true
            schema:
              type: string
            example: fip-cd226940


  '/ecloud/v2/firewall-rules':
    get:
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/FirewallRules'
                  meta:
                    type: object
                    required:
                      - pagination
                    properties:
                      pagination:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 30
                          count:
                            type: integer
                            example: 10
                          per_page:
                            type: integer
                            example: 10
                          current_page:
                            type: integer
                            example: 2
                          total_pages:
                            type: integer
                            example: 3
                          links:
                            type: object
                            properties:
                              first:
                                type: string
                                example: 'https://api.ukfast.io/ecloud/v2/firewall-rules?page=1'
                              previous:
                                type: string
                                example: 'https://api.ukfast.io/ecloud/v2/firewall-rules?page=1'
                              next:
                                type: string
                                example: 'https://api.ukfast.io/ecloud/v2/firewall-rules?page=2'
                              last:
                                type: string
                                example: 'https://api.ukfast.io/ecloud/v2/firewall-rules?page=2'
      tags:
        - FirewallRules
      parameters:
        -
          name: per_page
          in: query
          required: false
          schema:
            type: integer
          description: 'Number of items to display per page'
        -
          name: page
          in: query
          required: false
          schema:
            type: integer
          description: 'Page number to jump to'

    post:
      responses:
        201:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: fwr-2b66bb79
                      router_id:
                        type: string
                        example: rtr-2b66bb79
                  meta:
                    type: object
                    properties:
                      location:
                        type: string
                        example: 'https://api.ukfast.io/ecloud/v2/firewall-rules/fwr-2b66bb79'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Name of the firewall rule
                  type: string
                  example: fwr-2b66bb79
                router_id:
                  description: Identification of the associated router
                  type: string
                  example: rtr-2b66bb79
      tags:
        - FirewallRules
      parameters: {  }
  '/ecloud/v2/firewall-rules/{firewallRuleId}':
    get:
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    $ref: '#/components/schemas/FirewallRules'
                  meta:
                    type: object
      tags:
        - FirewallRules
      parameters:
        -
          name: firewallRuleId
          in: path
          required: true
          schema:
            type: string
          example: fwr-2b66bb79
    patch:
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: fwr-2b66bb79
                  meta:
                    type: object
                    properties:
                      location:
                        type: string
                        example: 'https://api.ukfast.io/ecloud/v2/firewall-rules/fwr-2b66bb79'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Name of the firewall rule
                  type: string
                  example: fwr-2b66bb79
      tags:
        - FirewallRules
      parameters:
        -
          name: firewallRuleId
          in: path
          required: true
          schema:
            type: string
          example: fwr-2b66bb79
    delete:
      responses:
        204:
          description: Success
      tags:
        - FirewallRules
      parameters:
        -
          name: firewallRuleId
          in: path
          required: true
          schema:
            type: string
          example: fwr-2b66bb79

  '/ecloud/v2/regions':
    get:
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Regions'
                  meta:
                    type: object
                    required:
                      - pagination
                    properties:
                      pagination:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 30
                          count:
                            type: integer
                            example: 10
                          per_page:
                            type: integer
                            example: 10
                          current_page:
                            type: integer
                            example: 2
                          total_pages:
                            type: integer
                            example: 3
                          links:
                            type: object
                            properties:
                              first:
                                type: string
                                example: 'https://api.ukfast.io/ecloud/v2/regions?page=1'
                              previous:
                                type: string
                                example: 'https://api.ukfast.io/ecloud/v2/regions?page=1'
                              next:
                                type: string
                                example: 'https://api.ukfast.io/ecloud/v2/regions?page=2'
                              last:
                                type: string
                                example: 'https://api.ukfast.io/ecloud/v2/regions?page=2'
      tags:
        - Regions
      parameters:
        -
          name: per_page
          in: query
          required: false
          schema:
            type: integer
          description: 'Number of items to display per page'
        -
          name: page
          in: query
          required: false
          schema:
            type: integer
          description: 'Page number to jump to'
  '/ecloud/v2/regions/{regionId}':
    get:
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    $ref: '#/components/schemas/Regions'
                  meta:
                    type: object
      tags:
        - Regions
      parameters:
        -
          name: regionId
          in: path
          required: true
          schema:
            type: string
          example: reg-2b66bb79

  '/ecloud/v2/regions/{regionId}/availability-zones':
    get:
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AvailabilityZones'
      parameters:
        - name: regionId
          in: path
          required: true
          schema:
            type: string
          example: reg-2b66bb79
      tags:
        - Regions
