---

openapi: '3.0.0'
info:
  title: eCloud API
  version: '2.0.0'

servers:
  - url: https://api.ukfast.io

security:
  - api_key:
      - api_key

components:
  securitySchemes:
    api_key:
      type: apiKey
      description: API key authentication
      in: header
      name: Authorization
  schemas:
    AvailabilityZone:
      $ref: 'components/schemas/availabilityZone.yaml'
    VirtualPrivateCloud:
      $ref: 'components/schemas/vpc.yaml'
    Network:
      $ref: 'components/schemas/network.yaml'
    Dhcp:
      $ref: 'components/schemas/dhcp.yaml'
    Vpn:
      $ref: 'components/schemas/vpn.yaml'
    Instance:
      $ref: 'components/schemas/instance.yaml'
    FloatingIP:
      $ref: 'components/schemas/floatingIp.yaml'
    FirewallRule:
      $ref: 'components/schemas/firewallRule.yaml'

    Regions:
      properties:
        id:
          type: string
          example: reg-2b66bb79
          readOnly: false
        name:
          type: string
          example: 'United Kingdom'
          readOnly: false
        created_at:
          type: string
          example: '2020-07-07T10:30:00+01:00'
          readOnly: true
        updated_at:
          type: string
          example: '2020-07-07T10:30:00+01:00'
          readOnly: true
      description: 'Regions'
      required: {  }

    Meta:
      $ref: 'components/schemas/meta.yaml'


  parameters:
    # Query Parameters
    PerPage:
      $ref: 'components/parameters/perPage.yaml'
    Page:
      $ref: 'components/parameters/page.yaml'
    # Path Parameters
    VpcId:
      $ref: 'resources/Vpc/parameters/vpcId.yaml'
    AvailabilityZoneId:
        $ref: 'resources/AvailabilityZone/parameters/availabilityZoneId.yaml'
    NetworkId:
      $ref: 'resources/Network/parameters/networkId.yaml'
    DhcpId:
      $ref: 'resources/Network/parameters/networkId.yaml'
    VpnId:
      $ref: 'resources/Vpn/parameters/vpnId.yaml'
    InstanceId:
      $ref: 'resources/Instance/parameters/instanceId.yaml'
    fipId:
      $ref: 'resources/FloatingIp/parameters/fipId.yaml'


  responses:
    VirtualPrivateCloudsIdResponse:
      $ref: 'resources/Vpc/responses/idResponse.yaml'
    NetworksIdResponse:
      $ref: 'resources/Network/responses/idResponse.yaml'
    DhcpIdResponse:
      $ref: 'resources/Dhcp/responses/idResponse.yaml'
    VpnIdResponse:
      $ref: 'resources/Vpn/responses/idResponse.yaml'
    InstanceIdResponse:
      $ref: 'resources/Instance/responses/idResponse.yaml'
    FipIdResponse:
      $ref: 'resources/FloatingIp/responses/idResponse.yaml'




######### PATHS


paths:
  '/ecloud/v2/vpcs':
    $ref: 'resources/Vpc/collection.yaml'
  '/ecloud/v2/vpcs/{vpcId}':
    $ref: 'resources/Vpc/item.yaml'

  '/ecloud/v2/availability-zones':
    $ref: 'resources/AvailabilityZone/collection.yaml'
  '/ecloud/v2/availability-zones/{AvailabilityZoneId}':
    $ref: 'resources/AvailabilityZone/item.yaml'

  '/ecloud/v2/networks':
    $ref: 'resources/Network/collection.yaml'
  '/ecloud/v2/networks/{networkId}':
    $ref: 'resources/Network/item.yaml'

  '/ecloud/v2/dhcps':
    $ref: 'resources/Dhcp/collection.yaml'
  '/ecloud/v2/vpcs/{dhcpId}':
    $ref: 'resources/Dhcp/item.yaml'

  '/ecloud/v2/vpns':
    $ref: 'resources/Vpn/collection.yaml'
  '/ecloud/v2/vpns/{vpnId}':
    $ref: 'resources/Vpn/item.yaml'

  '/ecloud/v2/instances':
    $ref: 'resources/Instance/collection.yaml'
  '/ecloud/v2/instances/{instanceId}':
    $ref: 'resources/Instance/item.yaml'

  '/ecloud/v2/floating-ips':
    $ref: 'resources/FloatingIp/collection.yaml'
  '/ecloud/v2/floating-ips/{instanceId}':
    $ref: 'resources/FloatingIp/item.yaml'


  '/ecloud/v2/firewall-rules':
    $ref: 'resources/FirewallRule/collection.yaml'


  #  '/ecloud/v2/firewall-rules/{firewallRuleId}':


#  '/ecloud/v2/firewall-rules':
#    get:
#      responses:
#        200:
#          description: Success
#          content:
#            application/json:
#              schema:
#                type: object
#                properties:
#                  data:
#                    type: array
#                    items:
#                      $ref: '#/components/schemas/FirewallRules'
#                  meta:
#                    type: object
#                    required:
#                      - pagination
#                    properties:
#                      pagination:
#                        type: object
#                        properties:
#                          total:
#                            type: integer
#                            example: 30
#                          count:
#                            type: integer
#                            example: 10
#                          per_page:
#                            type: integer
#                            example: 10
#                          current_page:
#                            type: integer
#                            example: 2
#                          total_pages:
#                            type: integer
#                            example: 3
#                          links:
#                            type: object
#                            properties:
#                              first:
#                                type: string
#                                example: 'https://api.ukfast.io/ecloud/v2/firewall-rules?page=1'
#                              previous:
#                                type: string
#                                example: 'https://api.ukfast.io/ecloud/v2/firewall-rules?page=1'
#                              next:
#                                type: string
#                                example: 'https://api.ukfast.io/ecloud/v2/firewall-rules?page=2'
#                              last:
#                                type: string
#                                example: 'https://api.ukfast.io/ecloud/v2/firewall-rules?page=2'
#      tags:
#        - FirewallRules
#      parameters:
#        -
#          name: per_page
#          in: query
#          required: false
#          schema:
#            type: integer
#          description: 'Number of items to display per page'
#        -
#          name: page
#          in: query
#          required: false
#          schema:
#            type: integer
#          description: 'Page number to jump to'
#
#    post:
#      responses:
#        201:
#          description: Success
#          content:
#            application/json:
#              schema:
#                type: object
#                properties:
#                  data:
#                    type: object
#                    properties:
#                      id:
#                        type: string
#                        example: fwr-2b66bb79
#                      router_id:
#                        type: string
#                        example: rtr-2b66bb79
#                  meta:
#                    type: object
#                    properties:
#                      location:
#                        type: string
#                        example: 'https://api.ukfast.io/ecloud/v2/firewall-rules/fwr-2b66bb79'
#      requestBody:
#        required: true
#        content:
#          application/json:
#            schema:
#              type: object
#              properties:
#                name:
#                  description: Name of the firewall rule
#                  type: string
#                  example: fwr-2b66bb79
#                router_id:
#                  description: Identification of the associated router
#                  type: string
#                  example: rtr-2b66bb79
#      tags:
#        - FirewallRules
#      parameters: {  }
#  '/ecloud/v2/firewall-rules/{firewallRuleId}':
#    get:
#      responses:
#        200:
#          description: success
#          content:
#            application/json:
#              schema:
#                type: object
#                properties:
#                  data:
#                    type: object
#                    $ref: '#/components/schemas/FirewallRules'
#                  meta:
#                    type: object
#      tags:
#        - FirewallRules
#      parameters:
#        -
#          name: firewallRuleId
#          in: path
#          required: true
#          schema:
#            type: string
#          example: fwr-2b66bb79
#    patch:
#      responses:
#        200:
#          description: Success
#          content:
#            application/json:
#              schema:
#                type: object
#                properties:
#                  data:
#                    type: object
#                    properties:
#                      id:
#                        type: string
#                        example: fwr-2b66bb79
#                  meta:
#                    type: object
#                    properties:
#                      location:
#                        type: string
#                        example: 'https://api.ukfast.io/ecloud/v2/firewall-rules/fwr-2b66bb79'
#      requestBody:
#        required: true
#        content:
#          application/json:
#            schema:
#              type: object
#              properties:
#                name:
#                  description: Name of the firewall rule
#                  type: string
#                  example: fwr-2b66bb79
#      tags:
#        - FirewallRules
#      parameters:
#        -
#          name: firewallRuleId
#          in: path
#          required: true
#          schema:
#            type: string
#          example: fwr-2b66bb79
#    delete:
#      responses:
#        204:
#          description: Success
#      tags:
#        - FirewallRules
#      parameters:
#        -
#          name: firewallRuleId
#          in: path
#          required: true
#          schema:
#            type: string
#          example: fwr-2b66bb79

  '/ecloud/v2/regions':
    get:
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Regions'
                  meta:
                    type: object
                    required:
                      - pagination
                    properties:
                      pagination:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 30
                          count:
                            type: integer
                            example: 10
                          per_page:
                            type: integer
                            example: 10
                          current_page:
                            type: integer
                            example: 2
                          total_pages:
                            type: integer
                            example: 3
                          links:
                            type: object
                            properties:
                              first:
                                type: string
                                example: 'https://api.ukfast.io/ecloud/v2/regions?page=1'
                              previous:
                                type: string
                                example: 'https://api.ukfast.io/ecloud/v2/regions?page=1'
                              next:
                                type: string
                                example: 'https://api.ukfast.io/ecloud/v2/regions?page=2'
                              last:
                                type: string
                                example: 'https://api.ukfast.io/ecloud/v2/regions?page=2'
      tags:
        - Regions
      parameters:
        -
          name: per_page
          in: query
          required: false
          schema:
            type: integer
          description: 'Number of items to display per page'
        -
          name: page
          in: query
          required: false
          schema:
            type: integer
          description: 'Page number to jump to'
  '/ecloud/v2/regions/{regionId}':
    get:
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    $ref: '#/components/schemas/Regions'
                  meta:
                    type: object
      tags:
        - Regions
      parameters:
        -
          name: regionId
          in: path
          required: true
          schema:
            type: string
          example: reg-2b66bb79

  '/ecloud/v2/regions/{regionId}/availability-zones':
    get:
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AvailabilityZones'
      parameters:
        - name: regionId
          in: path
          required: true
          schema:
            type: string
          example: reg-2b66bb79
      tags:
        - Regions
